<main class="container">
	<form class="row flex-column" #form="ngForm"  (ngSubmit)="procesarDatos(form)">
		<div class="form-group">
			<label for="txtNombreAnimal">Ingrese el nombre del animal que desea crear: </label>
			<input type="text" name="nombre" class="form-control" ngModel>
			<small class="text-danger">
				* Este campo es requerido
			</small>
		</div>

		<button type="submit" class="btn btn-primary">
			Registrar
		</button>
	</form>

	<ul class="list-group">
		<li class="list-group-item" *ngFor="let animal of arrAnimalesCreados">{{ animal }}</li>
	</ul>
</main>

<router-outlet></router-outlet>